<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <servlet>
        <servlet-name>explame</servlet-name>
        <servlet-class>server.ExplameServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>explame</servlet-name>
        <url-pattern>/explame</url-pattern>
    </servlet-mapping>
</web-app>